<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="estilos.css">
    <meta charset="UTF-8">
    <title>Vindty</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="vindty.png"  align="left" height="120" width="120"/>
            <center><h1>Vind Your Life</h1>
                <h3>Enlaza tu vida</h3>
            </center>
        </div>
    </header>
    <div class="container">
        <section class="main row">
        <article class="col-xs-12  col-sm-8 col-md-9">
            <p>
                <h3>Sección Principal - Parte explicativa de Vindty</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mi fermentum, euismod leo ut, cursus est.
                Morbi fermentum turpis nec dui egestas maximus. Duis condimentum, est id sodales pellentesque, leo metus bibendum
                urna, vel maximus purus felis id enim. Phasellus finibus iaculis velit, nec tincidunt nisi imperdiet a. Phasellus
                sagittis mi eget sapien consectetur semper. Maecenas id augue elementum, posuere risus eu, mollis nunc.
                Nulla posuere volutpat dolor, sed maximus lectus volutpat et. Maecenas facilisis congue tellus, vitae porttitor lacus
                sollicitudin ut. Aliquam erat volutpat. Suspendisse feugiat iaculis arcu, vestibulum tempor nulla rutrum ac.
                Curabitur volutpat non enim nec sollicitudin.
            </p>
        </article>
        <aside class="col-xs-12 col-sm-4 col-md-3">
            <p>
                <h3>Sección Secundaria - Registro</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mi fermentum, euismod leo ut, cursus est.
                Morbi fermentum turpis nec dui egestas maximus. Duis condimentum, est id sodales pellentesque, leo metus bibendum
                urna, vel maximus purus felis id enim. Phasellus finibus iaculis velit, nec tincidunt nisi imperdiet a. Phasellus
           </p>
        </aside>
    </section>
    </div>
    <div class="container">
        <div class="color1 col-xs-12 col-sm-6 col-md-3">
            <p>
                 <h3>Columna 1</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mi fermentum, euismod leo ut, cursus est.
                Morbi fermentum turpis nec dui egestas maximus. Duis condimentum, est id sodales pellentesque, leo metus bibendum
                urna, vel maximus purus felis id enim. Phasellus finibus iaculis velit, nec tincidunt nisi imperdiet a. Phasellus
            </p>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
            <p>
                <h3>Columna 2</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mi fermentum, euismod leo ut, cursus est.
                Morbi fermentum turpis nec dui egestas maximus. Duis condimentum, est id sodales pellentesque, leo metus bibendum
                urna, vel maximus purus felis id enim. Phasellus finibus iaculis velit, nec tincidunt nisi imperdiet a. Phasellus
            </p>
        </div>
         <div class="color1 col-xs-12 col-sm-6 col-md-3">
            <p>
                <h3>Columna 3</h3>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mi fermentum, euismod leo ut, cursus est.
                Morbi fermentum turpis nec dui egestas maximus. Duis condimentum, est id sodales pellentesque, leo metus bibendum
                urna, vel maximus purus felis id enim. Phasellus finibus iaculis velit, nec tincidunt nisi imperdiet a. Phasellus
            </p>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
            <p>
                <h3>Columna 4</h3>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mi fermentum, euismod leo ut, cursus est.
                Morbi fermentum turpis nec dui egestas maximus. Duis condimentum, est id sodales pellentesque, leo metus bibendum
                urna, vel maximus purus felis id enim. Phasellus finibus iaculis velit, nec tincidunt nisi imperdiet a. Phasellus
            </p>
        </div>

    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src = "http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>