header {
	background:#073A5B;
	color:#fff;
}

.main {
    background:#E5EBEF;

}

.color1 {
	background: #c0392b;
	color:#fff;
}

.color2 {
	background: #073A5B;
	color:#fff;
}

aside {
	background:#c0392b;
	color:#fff;
}

footer {
	background:#16a085;
	color:#fff;
}